<!DOCTYPE html>
<html lang="en">
    <!--Head-->
    <!--
          <ul class="navbar-nav ms-auto py-4 py-lg-0">
                <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Home</a></li>
                <% if(loggedIn) {%>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/posts/new">New Post</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/auth/logout">Log out</a></li>
                    <%}
                     %>
                     <% if(!loggedIn) {%>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/auth/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/auth/register">New User</a></li>
                     <%}
                      %>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/about">About</a></li>
                    <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/contact">Contact</a></li>
                </ul>
    -->
   <%- include('layouts/head') %>
    <body>
        <!-- Navigation-->
       <%- include('layouts/navbar') %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Nilexia</h1>
                            <span class="subheading">Share your blogs with the world!</span>
                            <br/>
                            <% if(!loggedIn) {%>
                                <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/auth/login">Login</a>
                            <%}
                             %> 
                              <% if(loggedIn) {%>
                                <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="/posts/new">Create New Blog</a>
                            <%}
                             %> 
                            <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="/about">About</a>
                        </div>
                    </div>
                </div>
            </div>
           
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!--Loop through post in database-->
                    <!--We want to loop through with latest at top-->
                    <% for (let i = blogposts.length-1; i >= 0 ; i--) {%>
                         <!-- Post preview-->
                         <div class="post-preview">
                            <a href="post/<%= blogposts[i]._id%>">
                                <h2 class="post-title"><%- blogposts[i].title %></h2>
                                <h3 class="post-subtitle"><%- blogposts[i].body %></h3>
                            </a>
                            <p class="post-meta">
                                Posted by
                                <a href="#!"><%= blogposts[i].userid.username %></a>
                                on <%= blogposts[i].datePosted.toDateString() %>
                            </p>
                        </div>
                        <!-- Divider-->
                        <hr class="my-4" />
                    <%} 
                    %>
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html"><h2 class="post-title">I believe every human has a finite number of heartbeats. I don't intend to waste any of mine.</h2></a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on September 18, 2023
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Science has not yet mastered prophecy</h2>
                            <h3 class="post-subtitle">We predict too much for the next year and yet far too little for the next ten.</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on August 24, 2023
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Failure is not an option</h2>
                            <h3 class="post-subtitle">Many say exploration is part of our destiny, but it’s actually our duty to future generations.</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on July 8, 2023
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts →</a></div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <%- include('layouts/footer') %>
        <!-- Bootstrap core JS-->
        <%- include('layouts/scripts') %>
    </body>
</html>
